<div>
    <mat-tab-group>
        <mat-tab label="Ranks">
            <app-ranks></app-ranks>
        </mat-tab>
        <mat-tab label="Trending">
            <app-trends></app-trends>
        </mat-tab>
    </mat-tab-group>
    
</div>





<!-- Original list of top coins
<div>
    <mat-list>
        <mat-list-item *ngFor="let coin of topCoins">
            <h4 mat-line>{{ coin.name }}</h4>
            <p mat-line>${{ coin.quotes['USD'].price }} </p>
        </mat-list-item>
    </mat-list>
</div> -->

