<div>
  <table mat-table [dataSource]="trendingCoins" class="mat-elevation-z8">
      <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef> Rank </th>
          <td mat-cell *matCellDef="let coin"> {{coin.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let coin"> {{coin.name}} ({{coin.symbol}})</td>
      </ng-container>>

      <ng-container matColumnDef="marketCap">
          <th mat-header-cell *matHeaderCellDef> Market Cap </th>
          <td mat-cell *matCellDef="let coin"> ${{coin.quotes['USD'].market_cap}} </td>
      </ng-container>>

      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let coin"> ${{coin.quotes['USD'].price}} </td>
      </ng-container>>

      <ng-container matColumnDef="volume">
          <th mat-header-cell *matHeaderCellDef> Volume (24h) </th>
          <td mat-cell *matCellDef="let coin"> ${{coin.quotes['USD'].volume_24h}} </td>
      </ng-container>>

      <ng-container matColumnDef="supply">
          <th mat-header-cell *matHeaderCellDef> Circulating Supply </th>
          <td mat-cell *matCellDef="let coin"> ${{coin.total_supply}} </td>
      </ng-container>>

      <ng-container matColumnDef="change">
          <th mat-header-cell *matHeaderCellDef> Change (24h) </th>
          <td mat-cell *matCellDef="let coin"> {{coin.quotes['USD'].percent_change_24h}} % </td>
      </ng-container>>
          
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>