<div>
        <table mat-table [dataSource]="trendingCoins" class="mat-elevation-z8">
            <ng-container matColumnDef="rank">
                <th mat-header-cell fxFlex="75px" *matHeaderCellDef> Rank </th>
                <td mat-cell fxFlex="75px" *matCellDef="let coin"> {{coin.rank}} </td>
            </ng-container>
      
            <ng-container matColumnDef="icon">
                  <th mat-header-cell fxFlex="75px" *matHeaderCellDef> Icon </th>
                  <td mat-cell fxFlex="75px" *matCellDef="let coin">
                      <mat-icon svgIcon="crypto:{{ coin.symbol | lowercase }}"></mat-icon>
                  </td>
            </ng-container>
      
            <ng-container matColumnDef="name">
                <th mat-header-cell fxFlex="175px" *matHeaderCellDef> Name </th>
                <td mat-cell fxFlex="175px" *matCellDef="let coin"> {{coin.name}} ({{coin.symbol}})</td>
            </ng-container>>
      
            <ng-container matColumnDef="marketCap">
                <th mat-header-cell fxFlex="175px" *matHeaderCellDef> Market Cap </th>
                <td mat-cell fxFlex="175px" [ngClass]="'neutral'" *matCellDef="let coin"> ${{ coin.quotes['USD'].market_cap | truncateNum | addCommas:',' }} </td>
            </ng-container>>
      
            <ng-container matColumnDef="price">
                <th mat-header-cell fxFlex="175px" *matHeaderCellDef> Price </th>
                <td mat-cell fxFlex="175px" [ngClass]="'neutral'" *matCellDef="let coin"> ${{ coin.quotes['USD'].price | truncateNum | addCommas:',' }} </td>
            </ng-container>>
      
            <ng-container matColumnDef="volume">
                <th mat-header-cell fxFlex="175px" *matHeaderCellDef> Volume (24h) </th>
                <td mat-cell fxFlex="175px" [ngClass]="'neutral'" *matCellDef="let coin"> ${{ coin.quotes['USD'].volume_24h | truncateNum | addCommas:',' }} </td>
            </ng-container>>
      
            <ng-container matColumnDef="supply">
                <th mat-header-cell fxFlex="150px" *matHeaderCellDef> Circulating Supply </th>
                <td mat-cell fxFlex="150px" *matCellDef="let coin"> ${{coin.total_supply}} {{ coin.symbol }} </td>
            </ng-container>>
      
            <ng-container matColumnDef="change">
                <th mat-header-cell fxFlex="125px" *matHeaderCellDef> Change (24h) </th>
                <td mat-cell fxFlex="125px" *matCellDef="let coin" [ngClass]="{'positive-change':getColor(coin.quotes['USD'].percent_change_24h),
                  'negative-change':!getColor(coin.quotes['USD'].percent_change_24h)}">
                     {{coin.quotes['USD'].percent_change_24h}} % </td>
            </ng-container>>
                
            <mat-header-row line-height="60px" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row line-height="30px" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      </div>
      
      