<mat-card>
  <div class="card-container-header">
    <mat-card-title class="primary-title">{{ coin$?.name }}
      <span [ngClass]="'secondary'"> ({{ coin$?.symbol }})</span>
    </mat-card-title>
    <mat-card-title>
      ${{ coin$?.quotes['USD'].price | truncateNum | addCommas:','}} USD 
        <span [ngClass]="{'positive-change':getColor(coin$?.quotes['USD'].percent_change_24h),
                          'negative-change':!getColor(coin$?.quotes['USD'].percent_change_24h)}">
          ({{ coin$?.quotes['USD'].percent_change_24h }}%)
        </span>
    </mat-card-title>
  </div>
  <div class="card-container-content">
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="marketCap">
          <th mat-header-cell fxFlex="185px" *matHeaderCellDef>Market Cap</th>
          <td mat-cell fxFlex="185px" *matCellDef="let coin">${{ coin.quotes['USD'].market_cap | truncateNum | addCommas:',' }}</td>
        </ng-container>

        <ng-container matColumnDef="volume">
            <th mat-header-cell fxFlex="185px" *matHeaderCellDef> Volume (24h) </th>
            <td mat-cell fxFlex="185px" [ngClass]="'neutral'" *matCellDef="let coin"> ${{ coin.quotes['USD'].volume_24h | truncateNum | addCommas:',' }} </td>
        </ng-container>

        <ng-container matColumnDef="supply">
            <th mat-header-cell fxFlex="160px" *matHeaderCellDef> Circulating Supply </th>
            <td mat-cell fxFlex="160px" *matCellDef="let coin"> {{coin.total_supply}} {{ coin.symbol }} </td>
        </ng-container>

        <ng-container matColumnDef="max">
            <th mat-header-cell fxFlex="160px" *matHeaderCellDef> Max Supply </th>
            <td mat-cell fxFlex="160px" *matCellDef="let coin"> {{coin.max_supply}} {{ coin.symbol }} </td>
        </ng-container>

        <mat-header-row line-height="60px" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row line-height="40px" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      </table>
    </mat-card-content>
  </div>
</mat-card>





