<mat-card class="card-container">
  <mat-card-title class="primary-title">{{coin.name}}</mat-card-title>
  <mat-card-title>
    ${{ coin.quotes['USD'].price | truncateNum | addCommas:','}} USD 
      <span [ngClass]="{'positive-change':getColor(coin.quotes['USD'].percent_change_24h),
      'negative-change':!getColor(coin.quotes['USD'].percent_change_24h)}">
        ({{ coin.quotes['USD'].percent_change_24h }}%)
      </span>
  </mat-card-title>
</mat-card>




<!-- <div [ngClass]="'container'">
  <h2>{{coin.name}}</h2>
  <h4> ({{coin.symbol}})</h4>
  <p>${{ coin.quotes['USD'].price | truncateNum | addCommas:',' }} USD (
    <span [ngClass]="{'positive-change':getColor(coin.quotes['USD'].percent_change_24h),
    'negative-change':!getColor(coin.quotes['USD'].percent_change_24h)}">{{ coin.quotes['USD'].percent_change_24h }}</span>
    )
  </p>
</div> -->

