p {
    font-size: 16pt;
    font-weight: bold;
}

.secondary {
    font-size: 12pt;
    color: lightgrey;
}

.card-container-header {
    display: flex;
    justify-content: space-between;
}

.card-container-content {
    display: flex;
    justify-content: flex-end;
}

.mat-header-cell {
    font-size: 18px;
    font-weight: bold;
}

.mat-cell {
    font-size: 14px
}

.mat-cell,
.mat-header-cell {
    border-bottom: none;
    text-align: center;
}

.mat-header-row {
    background-color: lightgrey;
}


.primary-title {
    font-weight: bold;
}

.secondary-title {
    font-size: 18px;
}

.positive-change {
    color: green;
}

.negative-change {
    color: red;
}


/*
h2, h4 {
    display: inline;
}

h4 {
    color: lightgrey;
} */