<div class="search-input">
  <form>
    <mat-form-field>
      <input matInput type="text" aria-label="Search" placeholder="Search"
        [formControl]="myControl" [matAutocomplete]="auto">
      <mat-icon matSuffix matListIcon>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="goToCoin(option)">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>  
  </form>
</div>